<nav>
    <div class="nav-brand">
            <a href="{% url 'index' %}"><h1>Job Finder</h1></a>
    </div>
    <div class="nav-links">
        <ul>
            <a href="{% url 'about' %}"><li>About</li></a>
            <a href="{% url 'jobs' %}"><li>Jobs</li></a>
            <a href="#"><li>Log in</li></a>
            <a href="#"><li>Log out</li></a>
            <a href="#"><li class="signup-btn">Sign up</li></a>
            <a href="#"><li class="donate-btn">Donate</li></a>
        </ul>
    </div>
</nav>