{% extends 'base.html' %}

{% block content %}
    {% include 'partials/_message.html' %}
    <section class="main-space">
    </section>
    <section class="modal-open">
        <section class="modal-content">
            <h1>login</h1>
            <a href="{% url 'index' %}" class="close-modal">×</a>
            <form action="{% url 'login' %}" method="POST">
                <!-- Add cs_rf token to prevent cross sight forgery -->
                {% csrf_token %}
                <input type="text" name="username" required placeholder="User name...">
                <input type="password" name="password" required placeholder="Password...">
                <input type="submit" value="Log in" class="form-btn">
            </form>
        </section>
    </section>
{% endblock %}