{% extends 'base.html' %}

{% block content %}
    <h1>Register</h1>
    <form action="{% url 'login' %}" method="POST">
        <!-- Add cs_rf token to prevent cross sight forgery -->
        {% csrf_token %}
        <input type="text" name="username" required placeholder="Full name...">
        <input type="email" name="email">
        <input type="password" name="password" required placeholder="Password">
        <input type="password" name="password2" required placeholder="Confirm password">
        <input type="submit" value="Register">
    </form>
{% endblock %}