{% extends 'base.html' %}

{% block content %}
<main class="main-content">
    <h1>About us</h1>

    <h2>The company</h2>
    <br>
    <p>Tech job finder is an evolving company whose mission is to effectively bridge the gap 
        between employer and employee, with minimal interference from our selves, the recruiters.
        We're the new kids on the block when it comes to recruiting, and we see that as one of 
        our greatest stregnths, as we aren't bogged down in old ways of thinking. Helping you to 
        land your perfect job role is our goal.
    </p>
    <br>
    <p>
        We sincerily wish you the best outcome in your search for that perfect job. And we hope
        that you go on to do amazing things because of the small role we have played in your search.
        Our platform is free to join. We never ask for any payments, although there is a donation page 
        where you can donate a once of amount of 20 euro if you feel you have benefitted from our service.
    </p>
    <br>
    
    <h2>The team</h2>
    <br>
    <p>
        We are a small and focused team of veteran recruiters who specialise in finding the perfect candidates
        for the perfect tech jobs.
    </p>
    <br>
    <p>
        Each member of the team specialises in a particular tech stack, but they also have a wider range of skills
        when it comes to candidate matching.
    </p>
</main>
{% endblock %}
