{% extends 'base.html' %}

{% block content %}
<section class="hero-img">
    <input class="hero-img__search-bar" type="text" placeholder="Search job title">
</section>
<section class="job-listing">
    <div class="job-listing__card">
        <h3>Job title: </h3>
        <p>Location: </p>
        <p>Salary: </p>
        <p>Permamnent | Contract</p>
    </div>
    <div class="job-listing__card">
        <h3>Job title: </h3>
        <p>Location: </p>
        <p>Salary: </p>            
        <p>Permamnent | Contract</p>
    </div>
</section>
{% endblock %}