{% extends 'base.html' %}

{% block content %}
<section class="hero-img">
    <input class="hero-img__search-bar" type="text" placeholder="Search jobs....">
</section>
<h2>Latest Job Posts</h2>
<section class="job-listing">
    <div class="job-listing__card">
        <h3>Job title: </h3>
        <p>Location: </p>
        <p>Salary: </p>
        <p>Permamnent | Contract</p>
        <a href="#" class="job-listing__card-btn">View details</a>
    </div>
    <div class="job-listing__card">
        <h3>Job title: </h3>
        <p>Location: </p>
        <p>Salary: </p>            
        <p>Permamnent | Contract</p>
        <a href="#" class="job-listing__card-btn">View details</a>
    </div>
</section>
{% endblock %}