{% extends 'base.html' %}

{% block content %}
    <h1>Job</h1>
    <section class="job-listing">
        <div class="job-listing__card">
            <h3>{{ job.title }}</h3>
            <br>
            <p>{{ job.job_type }}</p>
            <p>Salary: €{{ job.salary }}k</p>
            <br>
            <p>{{ job.description }}</p>
            <br>
            <p>Date listed: {{job.listed_date}}</p>
            <p>Listed by {{job.recruiter}}</p>
            <img class="job-listing__card__img" src="{{ job.recruiter.photo.url }}" alt="">
            <button class="job-listing__card-btn" id="enquiry">Make enquiry</button>
        </div>
    </section>

    <section class="modal">
        <section class="modal-content">
            <form action="contact" action="POST">
                {% csrf_token %}
                <input name="job" type="text" value="Job: {{ job.title }}">
                <input name="name" type="text"  required value="{{ user.username }}">
                <input name="email" type="email" required value="{{ user.email }}">
                <input name="contact_date" type="text" value="contact date: ">
                <textarea name="message"  required placeholder="Message..."></textarea>
                <input name="id" type="hidden" value="{{ job.id }}">
                <input name="user_id" type="hidden" value="{{ user.id }}">
                <input type="hidden" name="recruiter_email" value="{{ job.recruiter.email }}">
                <input class="modal-content__btn" type="submit" value="Send enquiry">
            </form>
        </section>
    </section>
{% endblock %}

