{% extends 'base.html' %}

{% block content %}
    <h1>Job</h1>
    <section class="job-listing">
        <div class="job-listing__card">
            <h3>{{ job.title }}</h3>
            <br>
            <p>{{ job.job_type }}</p>
            <p>Salary: €{{ job.salary }}k</p>
            <br>
            <p>{{ job.description }}</p>
            <br>
            <p>Date listed: {{job.listed_date}}</p>
            <p>Listed by {{job.recruiter}}</p>
            <img src="{{ job.recruiter.photo.url }}" alt="">
        </div>
    </section>
{% endblock %}

