{% extends 'base.html' %}

{% block content %}
    <h1>Jobs</h1>
    <section class="job-listing">
        {% if jobs %}
            {% for job in jobs %}
                <div class="job-listing__card">
                    <h3>{{ job.title }}</h3>
                    <br>
                    <p>{{ job.job_type }}</p>
                    <p>Salary: €{{ job.salary }}k</p>
                    <br>
                    <p>{{ job.description }}</p>
                    <br>
                    <p>Date listed: {{job.listed_date}}</p>
                    <p>Listed by {{job.recruiter}}</p>
                    <br>
                    <a href="{% url 'job' job.id %}" class="job-listing__card-btn">View details</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No jobs listed</p>
        {% endif %}
    </section>
    <section class="pagination-wrapper">
        <section class="pagination">
            {% if jobs.has_other_pages %}
                <ul>
                    {% if jobs.has_previous %}
                        <a href="?page={{jobs.previous_page_number}}">&laquo;</a>
                    {% else %}
                        <li>
                            <a>&laquo;</a>
                        </li>
                    {% endif %}
                    {% for i in jobs.paginator.page_range %}
                        {% if jobs.number == i %}
                            <li class="list-item active">
                                <a class="page-link">{{i}}</a>
                            </li>
                        {% else %}
                            <li class="list-item">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if jobs.has_next %}
                    <a href="?page={{jobs.next_page_number}}">&raquo;</a>
                    {% else %}
                        <li>
                            <a>&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </section>
    </section>
{% endblock %}

