{% extends 'base.html' %}

{% block content %}
    <section class="job-search">
        <form action="{% url 'search' %}">
            <input class="search-bar" type="text" name="keywords" placeholder="Search jobs....">
        </form>
    </section>
    <section class="job-listing">
        {% if jobs %}
            {% for job in jobs %}
                <div class="job-listing__card">
                    <h3>{{ job.title }}</h3>
                    <br>
                    <p>{{ job.job_type }}</p>
                    <p>Salary: €{{ job.salary }}k</p>
                    <br>
                    <p>{{ job.description }}</p>
                    <br>
                    <p>Date listed: {{job.listed_date}}</p>
                    <p>Listed by {{job.recruiter}}</p>
                    <br>
                    <a href="{% url 'job' job.id %}" class="job-listing__card-btn">View details</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No results, try another search</p>
        {% endif %}
    </section>
{% endblock %}

